{% load static %}
{% extends "base.html" %}

{% block header %}
<!-- ========== Header ========== -->
    <header id="dsn_header" class="dsn-header-animation dsn-container section-padding v-dark-head">
        <div class="entry-header p-relative over-hidden">
            <div id="hero_image" class="p-absolute dsn-hero-parallax-img over-hidden" data-dsn-ajax="img"
                 data-overlay="1">
                <img src="{% static 'assets/img/bg.jpg' %}" class="cover-bg-img transform-3d" alt=""/>
            </div>

            <div id="hero_content" class="d-flex p-relative h-100 dsn-hero-parallax-title container align-items-center">
                <div class="content p-relative ">
                    <div class="intro-project w-100">
                        <div class="intro-title ">
                            <div id="hero_title">
                                <h1 class="title title-xxl" data-dsn-ajax="title">
                                    <strong class="theme-color">CR<b>E</b>ATIVE</strong>
                                    AG<b>A<b>NCY</b></b>
                                </h1>
                            </div>
                            <p class="subtitle-meta metas p-relative mt-30 max-w470 fw-bold">
                                We’ve taken care of all the digital boring details, so you can take care of your online
                                business grow and clients satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#page_wrapper" rel="nofollow" class="dsn-scroll-bottom"
           data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
            <div class="text">SCROLL</div>
        </a>
    </header>
    <!-- ========== End Header ========== -->


{% endblock %}