
        <!-- ========== Play Video ========== -->
        <div class="p-relative dsn-container section-padding hv-80">
            <div class="dsn-bg-mask h-50 bottom-0 background-section"></div>

            <div class="container section-video h-100 d-flex align-items-center justify-content-center">
                <div class="dsn-normal-btn dsn-icon-heading-color">
                    <a class="dsn-btn dsn-border border-color-default vid background-section move-circle has-icon-left"
                       href="https://vimeo.com/175353205" target="_blank" rel="nofollow" data-dsn="parallax">
                            <span class="dsn-icon dsn-bg-before btn-icon-left heading-color z-index-1">
                                <i class="fas fa-play"></i>
                            </span>
                        <span class="title-btn p-relative z-index-1">PLAY</span>
                    </a>
                </div>
            </div>
            <div class="dsn-bg-section dsn-container p-absolute w-100 h-100 over-hidden top-0 left-0">
                <div class="h-100 img-box-parallax before-z-index " data-dsn-grid="move-up" data-overlay="4">
                    <img src="{% static 'assets/img/about-4.jpg' %}" class="cover-bg-img has-direction" alt="">
                </div>
            </div>
        </div>
        <!-- ========== End Play Video ========== -->

        <!-- ========== Testimonial ========== -->
        <div class="about-award dsn_testimonial section-padding background-section">
            <div class="container d-grid grid-half-1">
                <div class="box-left pr-lg-100">
                    <div class="section-title d-flex flex-column">
                        <h2 class="title-h2 text-upper">Feedback</h2>
                        <p class="max-w570 mt-10 border-section-bottom">happy clients.</p>
                    </div>
                    <p class="mt-20 fw-bold">
                        We help our customers to follow these evolutions by limiting the constraining aspect. This.
                    </p>
                </div>
                <div class="box-right">
                    <div class="elementor-widget-dsn_testimonial" data-widget_type="dsn_testimonial.default">
                        <div class="dsn-testimonials dsn-swiper p-relative has-parallax-image"
                             data-dsn-option='{"spaceBetween":30,"centeredSlides":false,"grabCursor":true,"loop":true,"effect":"cards"}'>

                            <div class="testimonials-content">
                                <div class="testimonial-inner">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                         viewBox="0 0 509 396.83"
                                         enable-background="new 0 0 509 396.83" xml:space="preserve">
					        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M105.098,396.83c-2.062,0-4.122,0-6.183,0 c0.123-48.731,0.116-97.466,0.493-146.195c0.062-7.844-3.65-8.881-10.09-8.843c-29.772,0.182-59.545,0.047-89.318,0.026 C0,161.382,0,80.947,0,0c81.742,0,163.484,0,245.227,0c0.023,83.874,0.496,167.752-0.071,251.624 c-0.436,64.131-47.354,121.936-109.503,136.974C125.404,391.076,115.279,394.073,105.098,396.83z M127.891,360.509 c6.063-1.545,10.049-2.226,13.799-3.568c42.174-15.098,74.277-58.896,74.735-104.55c0.718-71.273,0.187-142.558,0.454-213.837 c0.03-7.696-2.596-10.07-10.136-10.038c-55.961,0.236-111.927,0.287-167.887-0.042c-8.413-0.049-10.398,3.014-10.363,10.831 c0.254,54.408,0.317,108.815-0.047,163.22c-0.061,8.994,3.321,10.93,11.452,10.803c25.744-0.405,51.505,0.184,77.245-0.329 c8.78-0.174,10.986,2.931,10.911,11.301c-0.363,40.63-0.164,81.264-0.163,121.897C127.891,350.262,127.891,354.325,127.891,360.509 z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M368.871,396.83c-2.061,0-4.122,0-6.184,0 c0.057-48.133-0.099-96.267,0.354-144.395c0.081-8.996-3.268-10.854-11.386-10.722c-26.047,0.42-52.108-0.083-78.152,0.299 c-7.577,0.108-10.083-2.194-10.053-9.942c0.294-77.357,0.262-154.713,0.322-232.07C345.353,0,426.929,0,509,0 c0,89.562,0,179.125,0,268.687c-1.256,3.464-2.793,6.854-3.73,10.401c-15.376,58.112-51.126,95.756-109.9,110.431 C386.48,391.735,377.7,394.382,368.871,396.83z M391.554,360.501c5.951-1.528,9.958-2.176,13.686-3.57 c43.103-16.135,74.464-59.44,74.864-105.611c0.616-70.931,0.138-141.869,0.404-212.803c0.03-7.722-2.58-10.037-10.111-10.005 c-55.963,0.24-111.926,0.285-167.889-0.036c-8.406-0.048-10.429,3.048-10.392,10.853c0.245,54.405,0.31,108.813-0.049,163.216 c-0.059,9.03,3.45,10.9,11.528,10.778c25.741-0.39,51.504,0.193,77.245-0.325c8.785-0.178,10.956,2.917,10.878,11.284 c-0.368,40.629-0.167,81.263-0.165,121.897C391.554,350.25,391.554,354.318,391.554,360.501z"/>
					        </g>
				        </svg>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide testimonial-inner-item background-main">
                                                <div class="avatar box-img dsn-auto">
                                                    <img src="{% static 'assets/img/team/1.jpg' %}" class="cover-bg-img" alt=''/>
                                                </div>
                                                <div class="testimonial-item">
                                                    <div class="testimonial-content mb-25">
                                                        <div class="quote">
                                                            <p class="max-w750 testimonial-content p-large">
                                                                This theme is awesome and the designer is very helpful.
                                                                I
                                                                had a
                                                                few
                                                                questions
                                                                purchase. He/She helped me with all the doubts. Also,
                                                                they
                                                                provide
                                                                quick
                                                                support. Thank you so much for a beautiful theme
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="content-inner border-top">
                                                        <div class="d-flex align-items-center ">
                                                            <div class="avatar box-img dsn-auto">
                                                                <img src="{% static 'assets/img/team/1.jpg' %}"
                                                                     class="cover-bg-img" alt=''/>
                                                            </div>
                                                            <div class="label box-text">
                                                                <h4 class="testimonial-name sm-title-block">MTL
                                                                    Graphic</h4>
                                                                <h5 class="testimonial-position">Graphic Design</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-inner-item background-main">
                                                <div class="avatar box-img dsn-auto">
                                                    <img src="{% static 'assets/img/team/2.jpg' %}" class="cover-bg-img" alt=''/>
                                                </div>
                                                <div class="testimonial-item">
                                                    <div class="testimonial-content mb-25">
                                                        <div class="quote">
                                                            <p class="max-w750 testimonial-content p-large">
                                                                This theme is awesome and the designer is very helpful.
                                                                I
                                                                had a
                                                                few
                                                                questions
                                                                purchase. He/She helped me with all the doubts. Also,
                                                                they
                                                                provide
                                                                quick
                                                                support. Thank you so much for a beautiful theme
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="content-inner border-top">
                                                        <div class="d-flex align-items-center ">
                                                            <div class="avatar box-img dsn-auto">
                                                                <img src="{% static 'assets/img/team/2.jpg' %}"
                                                                     class="cover-bg-img" alt=''/>
                                                            </div>
                                                            <div class="label box-text">
                                                                <h4 class="testimonial-name sm-title-block">Jeremy
                                                                    Smith</h4>
                                                                <h5 class="testimonial-position">Creative Studio
                                                                    Head</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-inner-item background-main">
                                                <div class="avatar box-img dsn-auto">
                                                    <img src="{% static 'assets/img/team/3.jpg' %}" class="cover-bg-img" alt=''/>
                                                </div>
                                                <div class="testimonial-item">
                                                    <div class="testimonial-content mb-25">
                                                        <div class="quote">
                                                            <p class="max-w750 testimonial-content p-large">
                                                                This theme is awesome and the designer is very helpful.
                                                                I
                                                                had a
                                                                few
                                                                questions
                                                                purchase. He/She helped me with all the doubts. Also,
                                                                they
                                                                provide
                                                                quick
                                                                support. Thank you so much for a beautiful theme
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="content-inner border-top">
                                                        <div class="d-flex align-items-center ">
                                                            <div class="avatar box-img dsn-auto">
                                                                <img src="{% static 'assets/img/team/3.jpg' %}"
                                                                     class="cover-bg-img" alt=''/>
                                                            </div>
                                                            <div class="label box-text">
                                                                <h4 class="testimonial-name sm-title-block">Angelo
                                                                    Walking</h4>
                                                                <h5 class="testimonial-position">Developer Lead</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-inner-item background-main">
                                                <div class="avatar box-img dsn-auto">
                                                    <img src="{% static 'assets/img/team/4.jpg' %}" class="cover-bg-img" alt=''/>
                                                </div>
                                                <div class="testimonial-item">
                                                    <div class="testimonial-content mb-25">
                                                        <div class="quote">
                                                            <p class="max-w750 testimonial-content p-large">
                                                                This theme is awesome and the designer is very helpful.
                                                                I
                                                                had a
                                                                few
                                                                questions
                                                                purchase. He/She helped me with all the doubts. Also,
                                                                they
                                                                provide
                                                                quick
                                                                support. Thank you so much for a beautiful theme
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="content-inner border-top">
                                                        <div class="d-flex align-items-center ">
                                                            <div class="avatar box-img dsn-auto">
                                                                <img src="{% static 'assets/img/team/4.jpg' %}"
                                                                     class="cover-bg-img" alt=''/>
                                                            </div>
                                                            <div class="label box-text">
                                                                <h4 class="testimonial-name sm-title-block">Bill
                                                                    Gardner</h4>
                                                                <h5 class="testimonial-position">Web designer</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="dsn-swiper-paginate  d-flex p-relative w-100 h-100 mt-30 align-items-center container justify-content-between">
                                    <div class="swiper-prev">
                                        <div class="prev-container">
                                            <div class="container-inner">
                                                <div class="triangle"></div>
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 24 24">
                                                    <g class="circle-wrap" fill="none" stroke-width="1"
                                                       stroke-linejoin="round" stroke-miterlimit="10">
                                                        <circle cx="12" cy="12" r="10.5"></circle>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination  mr-30 ml-30 heading-color"
                                         data-dsn-type="bullets"></div>
                                    <div class="swiper-next">
                                        <div class="next-container">
                                            <div class="container-inner">
                                                <div class="triangle"></div>
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="24"
                                                     height="24" viewBox="0 0 24 24">
                                                    <g class="circle-wrap" fill="none" stroke-width="1"
                                                       stroke-linejoin="round" stroke-miterlimit="10">
                                                        <circle cx="12" cy="12" r="10.5"></circle>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End Testimonial ========== -->

        <!-- ========== Stories ========== -->
        <div class="p-relative container section-margin">
            <div class="section-title mb-70 text-center d-flex flex-column">
                <h2 class="title-h2 text-upper">
                    Latest and greatest post
                </h2>
                <p class="max-w570 mt-20 border-section-bottom">
                    Latest News
                </p>
            </div>
            <div class="p-relative box-image-transform dsn-style-list">
                <div class="root-posts ">
                    <div class="dsn-posts dsn-post-type-cards box-content-hover">
                        <div class="has-parallax-image dsn-swiper p-relative"
                             data-dsn-option='{"slidesPerView":1,"spaceBetween":30,"centeredSlides":false, "autoHeight":true}'>
                            <div class="swiper-container ">
                                <div class="swiper-wrapper">
                                    <article
                                            class="dsn-item-post grid-item over-hidden p-relative box-hover-image swiper-slide">
                                        <div class="box-content d-flex ">
                                            <a class="effect-ajax box-image-link bg-shadow" href="single-post.html"
                                               data-dsn-text="Our Stories">
                                                <div class="box-image-bg before-z-index dsn-swiper-parallax-transform"
                                                     data-overlay="4">
                                                    <img src="{% static 'assets/img/blog/1.jpg' %}" class="cover-bg-img" alt=""/>
                                                </div>
                                            </a>
                                            <div class="post-content dsn-bg p-relative z-index-1 d-flex flex-column">

                                                <div class="post-title-info">
                                                    <div class="post-meta max-w750">
                                                        <div class="entry-date d-inline-block entry-meta mb-10">
                                                            June 12, 2022
                                                        </div>
                                                        <span class="mr-5 ml-5 separator-between"> ..</span>
                                                        <div class="p-relative d-inline-block dsn-category dsn-bg metas mb-10 entry-meta">
                                                            <span data-separator=" & ">Uncategorized</span>
                                                        </div>
                                                    </div>
                                                    <h2 class="post-title dsn-bg title-block">
                                                        <a class="effect-ajax" href="single-post.html"
                                                           data-dsn-text="Our Stories">
                                                            Wildlife could be amazing, see why.
                                                        </a>
                                                    </h2>
                                                </div>

                                                <div class="post-description-info ">
                                                    <p class="section_description mt-15 max-w570 ">
                                                        qProin faucibus nec
                                                        mauris a sodales, sed elementum mi tincidunt. Sed eget viverra
                                                        egestas
                                                    </p>
                                                    <div class="d-flex mt-20 dsn-def-btn dsn-hover-icon">
                                                        <a href="single-post.html"
                                                           class="effect-ajax dsn-btn dsn-border border-color-default  background-section has-icon-left">
                                                            <span class="dsn-icon dsn-bg-before btn-icon-left heading-color z-index-1"><i
                                                                    class="fas fa-angle-right"></i></span>
                                                            <span class="title-btn p-relative  z-index-1 heading-color">READ ARTICLE</span>
                                                        </a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </article>
                                    <article
                                            class="dsn-item-post grid-item over-hidden p-relative box-hover-image swiper-slide">
                                        <div class="box-content d-flex ">
                                            <a class="effect-ajax box-image-link bg-shadow" href="single-post.html"
                                               data-dsn-text="Our Stories">
                                                <div class="box-image-bg before-z-index dsn-swiper-parallax-transform"
                                                     data-overlay="4">
                                                    <img src="{% static 'assets/img/blog/2.jpg' %}" class="cover-bg-img" alt=""/>
                                                </div>
                                            </a>
                                            <div class="post-content dsn-bg p-relative z-index-1 d-flex flex-column">

                                                <div class="post-title-info">
                                                    <div class="post-meta max-w750">
                                                        <div class="entry-date d-inline-block entry-meta mb-10">
                                                            Marc 15, 2022
                                                        </div>
                                                        <span class="mr-5 ml-5 separator-between"> ..</span>
                                                        <div class="p-relative d-inline-block dsn-category dsn-bg metas mb-10 entry-meta">
                                                            <span data-separator=" & ">Editorial</span>
                                                        </div>
                                                    </div>
                                                    <h2 class="post-title dsn-bg title-block">
                                                        <a class="effect-ajax" href="single-post.html"
                                                           data-dsn-text="Our Stories">
                                                            Quick tips for an effective styled
                                                        </a>
                                                    </h2>
                                                </div>

                                                <div class="post-description-info ">
                                                    <p class="section_description mt-15 max-w570 ">
                                                        qProin faucibus nec
                                                        mauris a sodales, sed elementum mi tincidunt. Sed eget viverra
                                                        egestas
                                                    </p>
                                                    <div class="d-flex mt-20 dsn-def-btn dsn-hover-icon">
                                                        <a href="single-post.html"
                                                           class="effect-ajax dsn-btn dsn-border border-color-default  background-section has-icon-left">
                                                            <span class="dsn-icon dsn-bg-before btn-icon-left heading-color z-index-1"><i
                                                                    class="fas fa-angle-right"></i></span>
                                                            <span class="title-btn p-relative  z-index-1 heading-color">READ ARTICLE</span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </article>
                                    <article
                                            class="dsn-item-post grid-item over-hidden p-relative box-hover-image swiper-slide">
                                        <div class="box-content d-flex ">
                                            <a class="effect-ajax box-image-link bg-shadow" href="single-post.html"
                                               data-dsn-text="Our Stories">
                                                <div class="box-image-bg before-z-index dsn-swiper-parallax-transform"
                                                     data-overlay="4">
                                                    <img src="{% static 'assets/img/blog/3.jpg' %}" class="cover-bg-img" alt=""/>
                                                </div>
                                            </a>
                                            <div class="post-content dsn-bg p-relative z-index-1 d-flex flex-column">

                                                <div class="post-title-info">
                                                    <div class="post-meta max-w750">
                                                        <div class="entry-date d-inline-block entry-meta mb-10">
                                                            Oct 23, 2022
                                                        </div>
                                                        <span class="mr-5 ml-5 separator-between"> ..</span>
                                                        <div class="p-relative d-inline-block dsn-category dsn-bg metas mb-10 entry-meta">
                                                            <span data-separator=" & ">Editorial</span>
                                                        </div>
                                                    </div>
                                                    <h2 class="post-title dsn-bg title-block">
                                                        <a class="effect-ajax" href="single-post.html"
                                                           data-dsn-text="Our Stories">
                                                            Soul Artwork from Lizzy styled wedding
                                                        </a>
                                                    </h2>
                                                </div>

                                                <div class="post-description-info ">
                                                    <p class="section_description mt-15 max-w570 ">
                                                        qProin faucibus nec
                                                        mauris a sodales, sed elementum mi tincidunt. Sed eget viverra
                                                        egestas
                                                    </p>
                                                    <div class="d-flex mt-20 dsn-def-btn dsn-hover-icon">
                                                        <a href="single-post.html"
                                                           class="effect-ajax dsn-btn dsn-border border-color-default  background-section has-icon-left">
                                                            <span class="dsn-icon dsn-bg-before btn-icon-left heading-color z-index-1"><i
                                                                    class="fas fa-angle-right"></i></span>
                                                            <span class="title-btn p-relative  z-index-1 heading-color">READ ARTICLE</span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </article>
                                </div>
                                <div class="dsn-swiper-paginate  d-flex p-relative w-100 h-100 mt-30 align-items-center dsn-container justify-content-between">
                                    <div class="swiper-prev">
                                        <div class="prev-container">
                                            <div class="container-inner">
                                                <div class="triangle"></div>
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 24 24">
                                                    <g class="circle-wrap" fill="none" stroke-width="1"
                                                       stroke-linejoin="round" stroke-miterlimit="10">
                                                        <circle cx="12" cy="12" r="10.5"></circle>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination  mr-30 ml-30 heading-color"
                                         data-dsn-type="progressbar"></div>
                                    <div class="swiper-next">
                                        <div class="next-container">
                                            <div class="container-inner">
                                                <div class="triangle"></div>
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="24"
                                                     height="24" viewBox="0 0 24 24">
                                                    <g class="circle-wrap" fill="none" stroke-width="1"
                                                       stroke-linejoin="round" stroke-miterlimit="10">
                                                        <circle cx="12" cy="12" r="10.5"></circle>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End Stories ========== -->
